# Python + Streamlit
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.DS_Store

# Firebase private key (VERY IMPORTANT)
firebase_key.json

# Build outputs
build/
dist/
*.spec
*.exe

# Streamlit logs/state
.streamlit/